@model CustomerSurveyWeb.Models.QuestionVm

<div class="question-text">
    @Model.QuestionOrder- @Model.Value
</div>
<div>
    @foreach (var option in Model.Options.OrderBy(o => o.OptionOrder))
    {
        <input type="checkbox" name="@Model.QuestionType.@Model.Id" value="@option.Id"/>
        <label for="@option.Id">@option.Value</label>
        <br />
    }
</div>