@model IEnumerable<CustomerSurveyWeb.Models.SurveyViewModel>

@{
    ViewBag.Title = "Surveys";
}

<h2>Customer Surveys</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Take the Survey", "Survey", new { id=item.Id }) 
        </td>
    </tr>
    <tr>
        <td colspan="3"> 
            Total Submissions: @item.TotalSubmissions
        </td>
    </tr>
    <tr>
        <td colspan="3">
            Submissions Dates
            <table>
                @foreach (DateTime date in item.SubmissionDates)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(string.Concat(date.ToShortDateString(), " ", date.ToShortTimeString()), "Submission", new { surveyId = item.Id, submissionDate = date })
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
}

</table>
